<html>
    <head>
    </head>
    <body>
        <h1>Riverbank Administration</h1>

        <noscript>
            <strong>Unfortunately Riverbank won't really show you much without JavaScript enabled.</strong>
        </noscript>

        <a href="/">Home</a>
        <a href="/admin/logout">Logout</a>

        <div class="container">
            <div id="authenticate">
                <form method="POST" action="/admin">
                    <input type="text" name="username" placeholder="Admin username"/>
                    <input type="password" name="password" placeholder="Admin password"/>
                    <button type="submit">Authenticate</button>
                </form>
            </div>
        </div>

        <script type="text/javascript">
        </script>
    </body>
</html>
