<html>
    <head>
    </head>
    <body>
        <h1>Riverbank</h1>

        <noscript>
            <strong>Unfortunately Riverbank won't really show you much without JavaScript enabled.</strong>
        </noscript>

        <ul>
            <li>
                <a href="/admin">Administration</a>
            </li>
            <li>
                <a href="/apidocs/index.html">API docs</a>
            </li>
        </ul>

        <script type="text/javascript">
        </script>
    </body>
</html>
<!--
vim: ft=html
-->
