<html>
    <head>
    </head>
    <body>
        <h1>Riverbank</h1>

        <noscript>
            <strong>Unfortunately Riverbank won't really show you much without JavaScript enabled.</strong>
        </noscript>

        <ul>
            <li>
                <a href="/admin">Administration</a>
            </li>
            <li>
                <a href="/apidocs/index.html">API docs</a>
            </li>
        </ul>

        <div class="container">
            <p>
                Riverbank is a <a href="https://delta.io/sharing">Delta Sharing</a> server implemented in Rust. The
                Delta Sharing Protocol is still very early on and so this
                project may see significant changes.
            </p>
        </div>
        <script type="text/javascript">
        </script>
    </body>
</html>
<!--
vim: ft=html
-->
